<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Basic Webshop</title>
</head>
<body th:object="${searchForm}">
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Basic Webshop</span>
    <a href="/cart" class="float-right">Show cart</a>
</nav>
<form th:action="@{/search}" class="container" method="POST">
    <div class="row">
        <div class="input-group mb-3">
            <input type="text" id="searchInput" th:field="*{searchInput}" class="form-control" placeholder="Search"
                   aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="submitButton" th:value="Search">Search
                </button>
            </div>
        </div>
    </div>
</form>
<th:block th:if="*{results.size() != 0}">
    <div class="container">
    <div class="row">
        <table border="1">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th></th>
            </tr>
            <tr th:each="product : *{results}">
                <td th:utext="${product.title}">...</td>
                <td th:utext="${product.description}">...</td>
                <td th:utext="${product.price}">...</td>
                <td>
                    <!-- dynamisch generierte Links mit der jeweiligen Produkt-Id-->
                    <a th:href="@{/add-to-cart(id=${product.webshopId})}">Add to cart</a>
                </td>
            </tr>
        </table>
    </div>
    </div>
</th:block>
</body>
</html>