<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Basic Webshop</title>
</head>
<body th:object="${cartForm}">
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Basic Webshop</span>
    <a href="/" class="float-right">Continue shopping...</a>
</nav>
<th:block th:if="*{selectedProducts.size() != 0}">
    <div class="container">
    <div class="row">
        <table border="1">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th></th>
            </tr>
            <tr th:each="product : *{selectedProducts}">
                <td th:utext="${product.title}">...</td>
                <td th:utext="${product.description}">...</td>
                <td th:utext="${product.price}">...</td>
                <td>
                    <!-- dynamisch generierte Links mit der jeweiligen Produkt-Id-->
                    <a th:href="@{/remove-from-cart(id=${product.webshopId})}">Remove from cart</a>
                </td>
            </tr>
        </table>
    </div>
    </div>
</th:block>
</body>
</html>